.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #F7F7F7;
}
.nav_container {
  display: flex;
  max-width: 1300px;
  width: 100%;
}
.logo{}

.navigation {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navigation_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #101828;
}
.active {
  color: #D84343;
}